i {
  font-size: 50px;
  color: rgba(91, 91, 90, 0.733);
  margin: 20px;
}

.location {
  text-align: right;
}

.weather {
  display: block;
  text-align: center;
  height: 80px;
  width: 100%;
  border-radius: 6px;
  margin: 0px;
  padding-top: 15px;
}

.card-body {
  display: block;
  text-align: center;
  height: 200px;
  border-radius: 6px;
  margin: 10px;
  padding-top: 15px;
}

a {
  font-size: small;
}
